@font-face {font-family:"BebasNeue"; src:url(/BebasNeue-Regular.ttf);}
body {padding:0; margin:0;background:#fff;min-height:100vh;font-family:sans-serif; }
.sep {background: linear-gradient(90deg, #e66465, #9198e5);background-size: 200% 200%; animation: bodybg 3s ease infinite alternate; height:4px;}
@keyframes bodybg {
  from {background-position:0 0;} to{background-position:100% 0;}
}
h1, h2, .cornerBanner, button, .loader, legend { font-family:BebasNeue; }
h1 { margin:4px 0; }
h1>a { padding-left:3rem; font-size:2rem; background:url(/logo.png) no-repeat top left; background-size:contain; text-decoration:none; color:#000;}
h2>a { color:#000; text-decoration:none; font-size: 1.5rem;}
a {color:#44032e;}
a.cornerBanner { display:block; padding: 5px; background:linear-gradient(#8054ec, #bd7e96); text-decoration:none; text-align:center; font-weight:bold; color:#fff;text-shadow:1px 1px 0px #0006;}

.templet { display:inline; }
tpl.Address { display:inline-block; }

.loader {display:flex; height:100vh; justify-content:center; align-items:center;}
.loader .loader {animation:loader 2s linear infinite alternate;}
@keyframes loader {
  from{font-size:1.2rem; transform:rotate(0deg); text-shadow:8px -35px -10px #0004;} to{font-size:1.7rem; transform:rotate(90deg); text-shadow:18px 15px 10px #0007;}
}

header {}
header.top {display:flex;justify-content:space-between; align-items:center;padding-right:10px;}
header.top .wallet {}
header.top .wallet .hover,
header.top .wallet:hover .address {display:none;}
header.top .wallet:hover .hover {display:inline;}

header.board {padding:10px;display:flex;justify-content:space-between; align-items:center;}
header.board .authorities {}
header.board .authorities button {font-size:0; background:none;padding:3px;}
header.board .authorities button:after {content:"x"; font-size:1rem; font-weight:bold; color:#000;}
header.board .mod {display:flex; flex-direction:column;}
header.board .mod tpl {margin:0 10px; }
@media (max-width:700px) {
header.board{flex-direction:column;}
header.board .mod{flex-direction:row;}
}



.sort {font-size:0.9rem; padding:10px;}
.sort .label {}
.sort .chooser {position:relative; display:inline-block;}
.sort .active {position:relative; text-decoration:underline;}
.sort .active:after {content:" "; width:0; height:0; position:absolute; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #000a;top:8px;right:-15px;}
.sort ul {position:absolute; top:100%; list-style:none; border:1px solid #0007; background:#fffc; margin:0; padding:0;}
.sort li a {text-decoration:none; display:block; padding: 1px 3px;}
.sort li a:hover { background:#0006; }


ul.children {clear:both;padding-left:0;list-style:none;}
.msg {background:#0001;margin:0; padding:10px;display:flex;}
.msg a {}
.msg>.body { flex:1}
.msg .metadata { font-size: 0.8rem; }
.msg .metadata a { text-decoration:none; font-weight:bold; }
.msg .metadata a:hover {text-decoration:underline;}
.msg a.control { padding:0 2px; text-decoration:none; font-weight:bold;color:#000d;font-size:0.8rem; }
.msg a.control:hover {text-decoration:underline;}

.msg>.score {display:flex; flex-direction:column;margin:10px;}
.msg>.score .up {}
.msg>.score .up:after {content:" "; width:0; height:0; position:absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #0007;top:-10px;left:-6px;}
.msg>.score .down {}
.msg>.score .down:after {content:" "; width:0; height:0; position:absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #0007;top:8px;left:-6px;}
.msg>.score .down.active:after {border-top-color: #44032e;}
.msg>.score .up.active:after {border-bottom-color: #44032e;}
.msg>.score button {margin:2px; font-size:0;width:8px;height:8px;background:#0007;border-radius:0; padding:0; position:relative;}
.msg>.score button.active {background:#44032e;}

form {background:#0001;margin:20px 0; padding:20px;}
fieldset {border:0;}
fieldset>div>label>span {display:block; margin-top:10px; font-size:0.9rem;}
legend {font-weight:bold; font-size:1.1rem; border-bottom:1px dotted #000c; padding:0 0 4px; }
button {cursor:pointer; border:0; background:#0007; margin:2px; padding:7px 15px; border-radius:10px; font-size:1.0rem;color:#eee;}
form p.help { font-size: 0.8rem; margin:5px 0; }

input {margin-bottom:15px; padding: 7px; background:#0001; border:1px solid #0004;}
textarea {font-family:sans-serif; width: 100%; height: 100px;margin-bottom:15px; background:#0001; border:1px solid #0004;}

#boardSearch {}
#boardSearch .stats { float:right; }
#boardSearch input { margin-right: 15px; }

ul.boards {margin:0; list-style:none; padding:0;}
ul.boards li {background:#fff2; margin:10px 0; padding:15px;}
ul.boards a {font-size:1.1rem; font-weight:bold;}
ul.boards dt {float:left; font-weight:bold; font-size:0.9rem; margin-right:10px;}
ul.boards dt:after {content:":"}
ul.boards dd {}
